{% extends 'base.html' %}
{% block title %} {% endblock title %}
{% block content %}
<section class="ab-info-main py-md-5 py-4 editContent"
     style="padding-left: 3rem; padding-right: 3rem; background-image: url(../static/fon1.png);
            background-size: cover; background-position: center; background-color: rgba(255, 255, 255, 0.8);
            background-blend-mode: lighten;">
    {% block container %}
    <div class="container-fluid py-md-3">
    {% endblock container %}
    <div class="row">
    {% block sidebar %}
    <div class="side-bar col-lg-3">
    {% endblock sidebar %}
        {% include 'include/sidebar.html' %}
    </div>
        {% block movie %}
        {% endblock movie %}

        </div>
    </div>
</section>
{% endblock content %}