{% load contact_tags %}
<footer class="editContent">
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_w3layouts">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="{% url 'index' %}" class="editContent">
                                    AnimeMovie
                        </a>
                    </h2>
                    <p>Вот уже много лет японская анимация пользуется огромным успехом по всему миру, включая Россию. Эти ленты любят за яркий сюжет, оригинальную рисовку и неизменный накал эмоций.</p>
                    <p class="editContent">
                        Сегодня все хотят смотреть аниме онлайн, в особенности японских режиссеров.
                            От обычных мультсериалов анимешки отличаются большей чувственностью героев и их эмоциональностью. Ведь что может быть лучше,
                            чем после дневных забот включить любимую картину и хоть на некоторое время забыть обо всех хлопотах.
                            К тому же, теперь не нужно ждать, пока скачается новая серия или пока ее покажут по телевизору.
                            Все что вам понадобится – это выбрать аниме и можно приступать к просмотру.
                    </p>
                    <p>Приятного просмотра!</p>

            </div>
            <div class="col-lg-8 footer-right">
                <div class="w3layouts-news-letter">
                    {% contact_form %}
                </div>
                <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                    <div class="col-md-4 footer-grid_section_w3layouts">
                        <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">
                            Разделы</h3>
                            <ul class="list-unstyled w3layouts-icons">
                                <li>
                                    <a href="{% url 'index' %}" class="editContent">Главная</a>
                                </li>
                                <li>
                                    <a href="{% url 'about' %}" class="editContent">O нас</a>
                                </li>
                                <li>
                                    <a href="{% url 'connection' %}" class="editContent">Обратная связь</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent">
                                Контактная информация</h3>
                            <div class="contact-info">
                                <div class="footer-address-inf my-4">
                                    <h4 class="ad-info mb-2 editContent">Email </h4>
                                    <p class="editContent"><a href="mailto:info@example.com">info@example.com</a>
                                    </p>
                                </div>
                                <div class="footer-address-inf">
                                    <h4 class="ad-info mb-2 editContent">Расположение</h4>
                                    <p class="editContent">город Саранск</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <div class="cpy-right py-3">
        <div class="container">
            <div class="row">
                <p class="col-md-10 text-left">© 2025 AnimeMovie. Все права защищены | Создатель: Барашкин Александр.

                </p>
                <!-- move top icon -->
                <a href="#home" class="move-top text-right col-md-2"><span
                        class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
                <!-- //move top icon -->
            </div>
        </div>
    </div>